<div class="wrapper">
  <div class="main" *ngIf="$weather | async as weather">
    <img *ngIf="weather.weather[0].main == 'Clear'" src="/assets/wclear.jpg" class="weather-icon">
    <img *ngIf="weather.weather[0].main == 'Clouds'" src="/assets/wcloud.png" class="weather-icon">
    <img *ngIf="weather.weather[0].main == 'Rain'" src="/assets/wrain.png" class="weather-icon">
    <img *ngIf="weather.weather[0].main == 'Rain'" src="/assets/wsun-rain.png" class="weather-icon">
    <h3>Temperature: {{weather.main.temp}}C</h3>
    <p>feels like {{weather.main.feels_like}}C</p>
    <p>Humidity: {{weather.main.humidity}}%</p>
    <p>Pressure: {{weather.main.pressure}}hPa</p>
    <p>Location: {{weather.name}}</p>
    <p>Cloudness: {{weather.clouds.all}}%</p>
    <p *ngIf="weather.rain">Rain volume(per hour): {{weather.rain['1h']}}mm</p>
    <p *ngIf="weather.snow">Snow volume(per hour): {{weather.snow['1h']}}mm</p>
  </div>
</div>
